<% if params[:controller] == "about" %>
<div class="well">
    <li>Phone​: 0778653682</li>
    <li>Location​: Amman, Jordan</li>
    <li>Email​: ​qusaialhanaktah@Gmail.com</li>
    <li><a href="https://github.com/Qusai-alhanaktah">GitHub​ Account</a></li>
    <li><a href="​https://www.linkedin.com/in/qusai-alhnakta-081091193/">LinkedIn​ Account</a></li>
</div>
<% end %>

<% if params[:controller] == "books" && params[:action] == 'index' || params[:action] == 'show' %>
<ul class="list-group">
  <%=  @categories.each do |category| %>
    <%=link_to category.name, category_path(category.id), class: 'list-group-item' %>
  <% end %>
</ul>
<% end %>

